__pycache__
__pycache__/*
openai_api_key.txt
venv
venv/*
dbbase.py
dbchain.py
constants.py
main.py
chatbot.py
test.py
lead_db.py
C:\Users\Sid\Documents\intern placements\Leadbot\crm_leadmodule_bot\lead_db.py